.noselect {
    -webkit-user-select: none;
}

.popover {
    position: absolute;
    top: -50px;
    display: inline-block;
    padding: 4px;
    background-color: black;
    color: white;
    border-radius: 6px;
    box-shadow: 2px 2px 10px black;
    user-select: none;
    white-space: nowrap;
}

.mtwSpeak {
    opacity: 0.7;
    position: absolute;
    top: 8px;
    right: 8px;
}

.mtwHovercardBelow {
    opacity: 0.7;
    margin-top: 5px;
    margin-right: 5px;
}

.mtwHovercardBelow:hover {
    opacity: 1.0;
    -webkit-transition: all 0.7s ease;
    -moz-transition: all 0.7s ease;
    -o-transition: all 0.7s ease;
    -ms-transition: all 0.7s ease;
    transition: all 0.7s ease;
}

.mtwSpeak:hover {
    opacity: 1.0;
    -webkit-transition: all 0.7s ease;
    -moz-transition: all 0.7s ease;
    -o-transition: all 0.7s ease;
    -ms-transition: all 0.7s ease;
    transition: all 0.7s ease;
}

.anchor {
    position: relative;
    width: auto;
    display: inline-block;
    white-space: nowrap;
}

span.mtwTranslatedWorde {
    font-style: inherit;
    color: rgba(86, 179, 90, 1.00);
    background-color: white;
}

span.mtwTranslatedWordn {
    font-style: inherit;
    color: rgba(164, 59, 64, 1.00);
    background-color: white;
}

span.mtwTranslatedWordh {
    font-style: inherit;
    color: rgba(209, 29, 29, 1.00);
    background-color: white;
}

.tags-rare {
    height:20px;
    top:10px;
    right:40px;
    position: absolute;
    border:2px solid #FFEBEE;
    border-radius:5px;
}

.tags-common {
    height:20px;
    top:10px;
    right:40px;
    position: absolute;
    border:2px solid #F1F8E9;
    border-radius:5px;
}

.tags-occasional {
    height:20px;
    top:10px;
    right:40px;
    position: absolute;
    border:2px solid #FFF8E1;
    border-radius:5px;
}

.countPage {
    font-size:8px;
}

.tag-learnt-marked {
    background-color: blue;
    padding:3px;
    border-radius:3px;
    position:absolute;
    top:10px;
    right:10px;
    color:white;
    font-size:10px;
    font-weight: bold;
}

.tag-learnt-quiz {
    background-color: green;
    padding:3px;
    border-radius:3px;
    position:absolute;
    top:10px;
    right:10px;
    color:white;
    font-size:12px;
    font-weight: bold;
}

.moreInformation {
    height: 25px;
    margin: 6px 6px 0px 0px;
}

.hc-info-details {
    font-size: 13px;
    color: black;
    line-height: 150%;
    display: block;
    border-radius: 10px;
    padding: 10px;
    max-height: 200px;
    overflow-y: scroll;
}

.hc-info-details-syn {
    margin-left: 40px;
    font-size: 11px;
}

.hc-info-details-not {
    font-size: 13px;
    color: black;
    line-height: 150%;
    display: block;
    border-radius: 10px;
    padding: 10px;
    max-height: 200px;
    overflow-y: scroll;
    text-align: center;
}

.onPageQuiz-correct-icon {
    height: 25px;
    position: absolute;
    right: 18px;
    margin-top: -20px;
}

.onPageQuiz-wrong-icon {
    height: 20px;
    margin-top: -20px;
    position: absolute;
    right: 20px;
}

.onPageQuiz-default {
    line-height: 1.8;
    cursor: pointer;
}

.ts-example-style {
    padding: 10px;
    background-color: #ECEFF1;
    line-height: normal;
    overflow-y: scroll;
    height: 150px;
}
